<phpunit
		bootstrap="tests/phpunit/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="glotpress-json">
			<directory prefix="test-" suffix=".php">tests/phpunit/tests</directory>
			<exclude>tests/phpunit/tests/test-pretty-print.php</exclude>
			<file phpVersion="5.4.0">tests/phpunit/tests/test-pretty-print.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="coverage.xml"/>
	</logging>
</phpunit>
